@layer theme, base, clerk, components, utilities; /* Ensure Clerk is compatible with Tailwind CSS v4 */

@import 'tailwindcss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111111;
}